<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Add Product</title>
</head>
<body>
    <header>
        <nav class="bg-gray-800">
            <ul class="relative flex items-center justify-between h-16">
                <li><a href="/" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Shop</a></li>
                <li><a href="/admin/add-product" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main class="container mx-auto">
        <form action="/add-product" method="POST">
            <input type="text" name="title">
            <button type="submit">Send</button>
        </form>
    </main>
</body>
</html>